@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fef5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* track color */
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #646464; /* thumb color (blue-500) */
  border-radius: 3px;
  border: 2px solid #646464; /* optional spacing around thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #026da2; /* darker on hover (blue-600) */
  border: 2px solid #026da2;
}


/* For Webkit browsers (Chrome, Safari, Edge) */
.customs-scrollbar::-webkit-scrollbar {
  height: 6px; /* horizontal scrollbar height - make it thin */
  width: 8px;  /* vertical scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* track color */
  border-radius: 4px;
}

.customs-scrollbar::-webkit-scrollbar-thumb {
  background: #026da2; /* thumb color (sky-500) */
  border-radius: 4px;
}

.customs-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #026da2; /* darker on hover */
}

/* Firefox scrollbar */
.customs-scrollbar {
  scrollbar-width: thin; /* makes it thin */
  scrollbar-color: #026da2 #f1f1f1;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}